* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway' , sans-serif;
    text-decoration: none;
}
body{
    background-color: efefef;
}
header {
    background-color: #3c91e6;
    height: 7.5vh;
    display: flex;
    justify-content: flex-end;
}
main{
    width: 80vw;
    display: block;
    margin: 0 auto;
}

.gf_banner{
    width: 300px;
    list-style-type: none; 
    margin-right: auto;
    margin-top: 5px;


    


}
.gf_banner img {
    width: 4vw;
    min-width: 40px;
    max-width: 50px;
    margin: 10px 10px 0px 20px;
    float: left;


}

.gf_banner li:nth-child(2){
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    width: auto;
    margin: 0px 0px 10px 5px;
    font-size: 1.5em;
    font-weight: 200;
    padding-top: 15px;
    display: inline-block;

}
.gf_heading{
    width: 300px;
    margin: 0 auto;
    font-size: 32px;
    color: #353535;
    padding: 30px 0 20px 0;
    text-align: center;
}
.gf_wrapper{
    width: 20vw;
    min-width: 320px;
    height: auto;
    min-height: 570px;
    margin: 0 auto;
    box-shadow: grey 10px;
    border-radius: 25px;;
    box-shadow: 13px 11px 47px 0px rgba(112,112,112,1);
}

.gf_wrapper-m{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gf_wrapper-s img{
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}
.gf_wrapper-s{
    width: 20vw;
    min-width: 320px;
    height: auto;

    margin: 10px 25px;
    box-shadow: grey 10px;
    border-radius: 25px;;
    box-shadow: 13px 11px 47px 0px rgba(112,112,112,1);
}

.gf_wrapper-xs{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.gf_wrapper-xs p{
    padding: 5px 10px 15px 0px;
    margin: 0px; 
    display: inline-block;
    width: 180px;;
}
.gf_wrapper-xs h4{
    width: 70px;
    padding: 5px 10px 15px 0px;
    margin-left: 20px; 
    display: inline-block;
}
.gf_person_img {
    width: 300px; 
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    
}
.gf_person{
    list-style-type: none;
    margin: 0 auto;
}

.gf_person ul{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.gf_person img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.gf_person h3, h3{
    padding: 20px 0 0 0;
    margin: 0 auto;
    color: #3c91e6;
    font-size: 20px;
    width: 80%;
    text-align: center;
}
.gf_person_age, .gf_person_place{
    font-size: 16px;
    width: 80%;
    padding: 5px 0 0 5px;
    margin: 0 auto;
    text-align: center;
}

.gf_person_bio, p{
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
}

.gf_btn_primary{
    background-color: #83c5ee;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: block;
    margin: 50px 20px 0px 20px;
    text-align: center;
    border: none;
}
.gf_btn_primary:hover{
    background-color: #aedefc;
    transition: 0.5s ease-in;
}
.gf_btn_secondary{
    background-color: #ffffff;
    border: 2px solid #83c5ee;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #83c5ee;
    font-weight: 600;
    display: inline-block;;
    text-align: center;
    width: 130px;
    margin-bottom: 20px;
}
.gf_btn_secondary:hover{
    background-color: #f0f9ff;
    transition: 0.5s ease-in;
}

h1{
    width: 450px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 10px;
}

form{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
form fieldset{
    border: none;
}
form fieldset p{
    margin: 0;
}
form label{
    display: block;
    padding: 20px 0 3px 0;
}

form input{
    width: 100%;
    height: 30px;
}

form textarea{
    width: 100%;
}
.gf_form_training input[type="radio"]{
    width: 20px;
    display: inline-block;
    margin-top: 5px;


}
.gf_form_training label{
    display: inline-block;

}

form input[type="submit"]{
    font-size: 1em;
    background-color: #83c5ee;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 5px;
    height: 35px;
    border-style: none;
    margin-top: 20px;
}
.gf_login{
    text-decoration: none;
    color: #fff;
    border:  1px solid #fff; 
    padding: 13px;
    font-size: 1em;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 15px 5px 10px 10px;
}
.gf_register {
    text-decoration: none;
    color: #3c91e6;
    background-color: #fff; 
    padding: 13px;
    font-size: 1em;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 15px 5px 10px 10px;
}
 form .gf_logout[type="submit"] {
    text-decoration: none;
    color: #fff;
    width: 110px;
    height: 45px;
    border:  1px solid #fff; 
    background-color: #3c91e6;
    padding: -20px 10px 10px 10px;
    font-size: 1em;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 5px 5px 10px 10px;
    text-align: center;
}

.gf_signup{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    
}
.gf_btn{
    width: 85%;
    display: block;
    margin: 30px auto;
}

.gf_btn_edit{
    width: 130px;
    background-color: #83c5ee;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border: none;
    margin-bottom: 20px;
}
.gf_subheading{
    width: 270px;
    display: block;
    margin: 10px auto;
    padding: 0 0 40px 0; 
}

.gf_signup form{
    margin: 0;
    width: auto;
}