<%- include('header') %>
<h1>Join our community!</h1>
<section class="gf_wrapper">
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input name="name" type="text">
        <label for="age">Age</label>
        <input name="age" type="number">
        <label for="place">Place of residence</label>
        <input name="place" type="text">
        <label for="bio">What is your current fitness level?</label>
        <textarea name="bio" type="textarea" rows="5"></textarea>
        <input type="submit" value="Join">
    </form>
</section>