<%- include('head') -%>
<header>
       
    <a href="/">
        <ul class="gf_banner">
        <li><img src="img/da_logo_wit.png"></li>
        <li>Fit together</li>
        </a>
    </ul>
    <div class="gf_signup">
        <a href="/people" class="gf_login">Search</a>
        <a href="/" class="gf_register">Log out</a>
    </div>
    
</header>
<main>

    
</main>