<head>
    <title>Find your perfect workout partner</title>
    <link rel="shortcut icon" type="image/png" href="img/da_favicon.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;900&display=swap" rel="stylesheet">
    </head>

    <header>
        <a href="/"><ul class="gf_banner">
            <li><img src="img/da_logo_wit.png"></li>
            <li>Fit together</li></a>

        </ul>
    </header>