<%- include('head') -%>
<%- include('header') -%>

    <main class="gf_landingspage">
        <h1 class="gf_titel">Find your perfect workout partner</h1>
        <h2 class="gf_subtitle" >& bring your training to the next level</h2>
        <a href="add" class="gf_btn_primary">Join</a>
    </main>

    
<%- include('footer') -%>

</body>

</html>