<!DOCTYPE html>
<html>
<head>
<title>Find your perfect workout partner</title>
<link rel="shortcut icon" type="image/png" href="img/da_favicon.png">
<link rel="stylesheet" href="css/styles.css">
<meta name="viewport" content="width=device-width, initial scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <ul class="gf_banner">
            <li><img src="img/da_logo_wit.png"></li>
            <li>Fit together</li>

        </ul>
    </header>
    <main>
        <h2 class="gf_heading">Potential match</h2>
        <article class="gf_wrapper">
            <ul class="gf_person">
                <li><h3 class="gf_person_name">James Jameson</h3></li>
                <li><p class="gf_person_age">25</p></li>
                <li><p class="gf_person_place">Amsterdam</p></li>
                <li><img src="img/man.jpeg" alt="" class="gf_person_img"></li>
                <li><p class="gf_person_bio">I am a trainer bla bla. I am a trainer bla bla.
                    I am a trainer bla bla. I am a trainer bla bla. I am a trainer bla bla.
                </p>
            </ul>
            <a href="" class="gf_btn_primary">Send message</a>
            <a href="" class="gf_btn_secondary">Ignore</a>
        </article>
    </main>
    <footer></footer>

</body>

</html>