<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing page</title>
  </head>
  <body>
    <header>
      <h1>FIT-TOGETHER</h1>
    </header>
    <main>
      <section>
          <h2>Anywhere, anytime, TOGETHER</h2>
      </section>
      <section>
        <form class="login_or_register" action="index.html" method="post">
          <fieldset>
            <button type="button" name="login">LOG IN</button>
            <button type="button" name="register">REGISTER</button>
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
