<%- include('head') %>
<%- include('header') %>
<h1>Log in</h1>
<section class="gf_wrapper">
    <form method="POST" action="/">
        <fieldset class="gf_form_personal">
            <label for="email">Email address</label>
            <input name="email" type="email">
            <label for="password">Password</label>
            <input name="password" type="password">
        </fieldset>
    <input type="submit" value="Join">
    </form>
    </section>