<%- include('head') -%>
<header>
       
  <a href="/">
      <ul class="gf_banner">
      <li><img src="img/da_logo_wit.png"></li>
      <li>Fit together</li>
      </a>
  </ul>
  <div class="gf_signup">
      <a href="/people" class="gf_login">search</a>
      <form method="POST" action="/logout" class="gf_logout"><input class="gf_logout"  value="Logout" type="submit"></form>
 
  </div>
  
</header>

<main>
  <section class = "profile_picture"> <!-- profiel foto('s) met daarover tekst. -->
    <img src="" alt="Profile picture of: "
    <h2> Naam Achternaam, leeftijd </h2>
  </section>

  <section class = "profile_information">

    <article class="bio_intro">
      <p>This person doesn't have a bio.</p>
    </article>

    <article class="sport_qualities"> <!-- Dit is een lijst met wat voor soort de gebruiker doet -->
      <section>
        <img src="" alt="Fitness">
        <h3>Fitness</h3>
      </section>

      <section>
        <img src="" alt="Crossfit">
        <h3>Crossfit</h3>
      </section>

      <section>
        <img src="" alt="Cardio">
        <h3>Cardio</h3>
      </section>
    </article>

    <article class="personalia">
      <p> // EDIT // Hier moet informatie vanuit de registratie komen.</p>
    </article>
  </section>
</main>
<%- include('footer'); -%>
